In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Mice.csv")

In [5]:
data.mean()

C:\Users\Lenovo PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

weight    20.14
dtype: float64

In [7]:
from scipy import stats

In [8]:
data.head()

  name  weight
0  M_1    18.9
1  M_2    19.5
2  M_3    23.1
3  M_4    20.1
4  M_5    20.3

In [9]:
stats.ttest_1samp(data['weight'],15)

Ttest_1sampResult(statistic=8.571429895651146, pvalue=1.2703262376365987e-05)

In [10]:
data.shape

(10, 2)

In [13]:
data1 = pd.read_csv("mice2.txt",sep='\t')

In [14]:
data1.head()

   id  before  after
0   1   187.2  429.5
1   2   194.2  404.4
2   3   231.7  405.6
3   4   200.5  397.2
4   5   201.7  377.9

In [16]:
data2 = pd.read_csv("genderweight.txt",sep='\t')
data2.head()

   id group     weight
0   1     F  61.585869
1   2     F  64.554858
2   3     F  66.168882
3   4     F  59.308605
4   5     F  64.858249

In [26]:
group1 = data2[data2['group']=='M']['weight']
group2 = data2[data2['group']=='F']['weight']

In [27]:
from scipy.stats import levene
levene(group1,group2)

LeveneResult(statistic=6.116972600402776, pvalue=0.01797467699989902)

# Not assumed

In [28]:
stats.ttest_ind(group1,group2,equal_var=False)

Ttest_indResult(statistic=20.79137772174724, pvalue=4.298062353095335e-18)

In [30]:
len(group2)

20

In [31]:
mean_female = group1.mean()
mean_male = group2.mean()
diff_mean = mean_female - mean_male

In [36]:
df=38

In [35]:
from scipy.stats import t
t_val = t.ppf([0.995], 38)

In [37]:
data1.head()

   id  before  after
0   1   187.2  429.5
1   2   194.2  404.4
2   3   231.7  405.6
3   4   200.5  397.2
4   5   201.7  377.9

In [38]:
group1 = data1['before']
group2 = data1['after']

In [44]:
group2.std()

30.086881600532227

In [45]:
levene(group1,group2)

LeveneResult(statistic=0.5266265406072935, pvalue=0.47735872800112167)

Assumed

In [56]:
stats.ttest_rel(group1,group2,alternative='greater')

Ttest_relResult(statistic=-25.546297533050883, pvalue=0.9999999994805391)

In [54]:
len(group1)

10

# Last Test

In [57]:
data_plant = pd.read_csv("plantgrowth.txt",sep='\t')
data_plant.head()

   weight group
0    4.17  ctrl
1    5.58  ctrl
2    5.18  ctrl
3    6.11  ctrl
4    4.50  ctrl

In [58]:
data_plant.to_excel("new.xlsx",index=False)