# <center> Python Project </center>
<center> By Anjali Pal, DS-4 , GreyCampus </center>
## Dataset description:

The data is about IMUâ€™s

What is an IMU?
 An inertial measurement unit (IMU) measures and reports raw or filtered angular rate and specific force/acceleration experienced by the object it is attached to. Data outputs for an IMU are typically body-frame accelerations, angular rates and (optionally) magnetic field measurements. 

The columns of the dataset are: 
1. Category: The category to which this IMU belongs. 
2. Manufacturer: Name of the manufacturer. 
3. part_number: Discrete part number 
4. sku: stock keeping unit 
5. alt_sku: alternate stock keeping unit 
6. Description: description of the product 
7. Status: Whether it is instock or not 
8. Quantity: Quantity available 
9. Price: Price of the product 
10. sku_create_date: when was the product procured.

Link to dataset: https://drive.google.com/file/d/1NBW5XiZHaiSK8W31268MEsIWb5RS-LsK/view?usp=sharing


## Solve these problems based on the data set given:

For data In Stock: 

1. Which are the top Manufacturers with price, quantity?
2. Which are the most profitable products? 
3. Which is the product where you have seen a decrease in the price? 
4. Which is the product where you have seen an increase in the price? 
5. Which is the top category by price and quantity? 
6. Which products are aging? 
7. How to Decrease Product aging? 

For Data Not in Stock 

8. Which are the top Manufacturers with price, quantity? 
9. Which are the most profitable products? 
10. Which is the product where you have seen a decrease in the price? 
11. Which is the product where you have seen an increase in the price? 
12. Which is the top category by price and quantity?

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np

## Loading Data
Getting data through read_excel as dictionary and then, concatenating it to form a single DataFrame

In [2]:
df = pd.concat(pd.read_excel("imus.xlsx",sheet_name = None), ignore_index=True)

## Checking for Missing Values and Dropping Columns

In [3]:
df.isnull().sum()

category                 0
manufacturer             0
part_number              0
sku                      0
alt_sku            2613442
description              0
status                   0
qty                      0
price                    0
sku_create_date          0
dtype: int64

In [4]:
print((df['alt_sku'].isnull().sum()/len(df['alt_sku']))*100)

99.448842927845

#### Since, more than 99% values are missing in alt_sku column, we can drop it from our data as it is not useful for any analysis.

In [5]:
df = df.drop(columns = ['alt_sku'])

## Checking data types

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627926 entries, 0 to 2627925
Data columns (total 9 columns):
category           int64
manufacturer       object
part_number        object
sku                object
description        object
status             object
qty                int64
price              float64
sku_create_date    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 180.4+ MB

#### DataType of all columns is correctly identified by Python

In [7]:
df.describe() #Only for int,float data

           category           qty         price
count  2.627926e+06  2.627926e+06  2.627926e+06
mean   2.379739e+03  4.138502e+01  1.882534e+03
std    2.776633e+03  5.802069e+02  8.202102e+04
min    1.000000e+00  0.000000e+00  0.000000e+00
25%    7.010000e+02  0.000000e+00  2.108000e+01
50%    1.535000e+03  0.000000e+00  9.531000e+01
75%    2.240000e+03  2.000000e+00  4.998400e+02
max    9.999000e+03  6.006300e+04  8.497453e+07

In [8]:
df.shape

(2627926, 9)

In [9]:
df.nunique()

category              153
manufacturer         1484
part_number        334574
sku                379112
description        339222
status                  2
qty                  2618
price              122688
sku_create_date        10
dtype: int64

## Checking for duplicates and Deleting them

In [10]:
duplicates = df[df.duplicated()]
duplicates.head(10)

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date
70,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
71,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
72,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
73,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
74,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
75,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
76,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
77,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
78,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
79,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17

In [11]:
duplicates.shape

(1521956, 9)

In [12]:
df.shape

(2627926, 9)

In [13]:
df.drop_duplicates(inplace=True)
df.head()

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17

In [14]:
df.shape

(1105970, 9)

In [15]:
df[df.duplicated()]

Empty DataFrame
Columns: [category, manufacturer, part_number, sku, description, status, qty, price, sku_create_date]
Index: []

In [16]:
df.describe()

           category           qty         price
count  1.105970e+06  1.105970e+06  1.105970e+06
mean   2.076317e+03  3.901325e+01  3.669533e+03
std    2.453089e+03  8.440172e+02  1.263401e+05
min    1.000000e+00  0.000000e+00  0.000000e+00
25%    1.221000e+03  0.000000e+00  3.441000e+01
50%    1.221000e+03  0.000000e+00  1.984500e+02
75%    2.220000e+03  0.000000e+00  1.011120e+03
max    9.999000e+03  6.006300e+04  8.497453e+07

## Adding a column 'Revenue' which will be used for questions

In [17]:
df['Revenue'] = df['qty'] * df['price']

### This is how dataset looks like

In [18]:
df.tail(4)

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,Revenue
2627895,2240,BELKIN - CABLES,A3X126-10-RED,972494,"10FT CAT5E RED CROSSOVER CABLE, ROHS",In Stock,2,3.77,2020-08-28,7.54
2627903,2240,BELKIN - CABLES,A3X126-10-RED,972494,"10FT CAT5E RED CROSSOVER CABLE, ROHS",In Stock,2,3.50,2020-08-28,7.00
2627912,9945,VERBATIM CORPORATION,93975,986034,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,51.88,2020-08-28,622.56
2627913,9945,VERBATIM CORPORATION,93975,986034,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28,606.36

## Dividing data into InStock and OutStock

In [19]:
instock_df = df[df['status']=='In Stock']
outstock_df = df[df['status']=='No Stock']

In [20]:
instock_df.head()

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,Revenue
253,9920,CASE LOGIC-PERSONAL & PORTABLE,3200943,BA6371,"LAPTOP ROLLING CASE BLACK, SECURITY FRIENDLY 17IN",In Stock,7,99.00,2020-08-17,693.00
271,531,OMNITRON SYSTEMS,7206-0,BA6834,"1000BASE-SX SFP LC/MM/DF 850NM, 550M PLUGGABLE...",In Stock,2,59.09,2020-08-17,118.18
320,9070,ZEBRA ENTERPRISE MCD-A1,SAC5070-800CR,BC0227,"RS507 8SLOT BATTERY CHARGE KIT, EXT PWR SUPL/U...",In Stock,3,500.06,2020-08-17,1500.18
324,9080,ZEBRA ENTERPRISE MCD-A1,KT-CLMPT-RS507-01R,BC0232,"RS507 TRIGGER SWIVEL DOES NOT, INCLUDE STRAP/B...",In Stock,115,86.34,2020-08-17,9929.10
326,9080,ZEBRA ENTERPRISE MCD-A1,KT-PAD-RS507-10R,BC0234,"10 CT COMFORT PADS FOR RS507,",In Stock,42,51.80,2020-08-17,2175.60

In [21]:
print(f'Shape of Instock : {instock_df.shape}')
print(f'Shape of OutStock : {outstock_df.shape}')

Shape of Instock : (156814, 10)
Shape of OutStock : (949156, 10)

# <center> ANALYSIS FOR IN STOCK </center>
### Question 1: Which are the top Manufacturers with price, quantity?
Assuming top manufacturers are the ones which produce highest quantities of goods. <br> <br>

In [22]:
print("The Top 10 manufacturers based on quantity produced (irrespective of description) are :")
instock_df.groupby(['manufacturer'],as_index=False)['qty'].sum().sort_values('qty',ascending=False).head(10)

The Top 10 manufacturers based on quantity produced (irrespective of description) are :

                        manufacturer       qty
181      DELL CSG SERVICE WARRANTIES  13578833
147                         CONFIG 6   3825896
184              DELL ESG WARRANTIES   3149689
620                     STARTECH.COM   1884895
650          TRIPP LITE CONNECTIVITY   1590370
433  LOGITECH - COMPUTER ACCESSORIES    972244
515                  PLANTRONICS INC    957135
290    HP INC. - SB DESKTOP DISPLAYS    905072
709                    WASP -PROJECT    689931
79                   BELKIN - CABLES    578216

In [23]:
print("The Top 10 manufacturers who sell products that have highest price are :")
instock_df.groupby(['manufacturer'],as_index=False)['price'].max().sort_values('price',ascending=False).head(10)

The Top 10 manufacturers who sell products that have highest price are :

                 manufacturer     price
315           HPE - SWITCHING  69729.03
311          HPE - NIMBLE BTO  40893.99
303       HPE - ARUBA INSTANT  35554.13
529              PULSE SECURE  23423.40
444     MELLANOX TECHNOLOGIES  20144.08
132           CISCO  HW VIDEO  17356.11
243       FLUKE NETWORKS CORE  16999.12
476          NETALLY HH TOOLS  15082.98
316         HPE - TOP OF RACK  14558.86
612  SONICWALL - NSA HARDWARE  13150.27

### Question 2: Which are the most profitable products? 
Assuming that the profitable products are the ones that generate maximum revenue.

Revenue = Price * Sales

In [24]:
q2 = instock_df.groupby('description',as_index=False)['Revenue'].sum().sort_values(by='Revenue', ascending=False)
q2.head(10)

                                             description       Revenue
10637                               5YR PROSUPPORT PLUS,  4.425280e+08
8381                                3YR PROSUPPORT PLUS,  2.760725e+08
8380                    3YR PROSUPPORT MISSION CRITICAL,  2.524822e+08
8383                                     3YR PROSUPPORT,  1.627357e+08
8308                    3YR BASIC ONSITE TO 5YR PROSUPT,  1.549725e+08
8346                           3YR NBD TO 5YR PROSPT 4H,  1.388064e+08
4310   1YR HW SVC WITH IN-HOME/OS SVC, AFTER REM DIAG...  1.324530e+08
4311   1YR HW SVC WITH IN-HOME/OS SVC, AFTER REM DIAG...  1.056940e+08
4315   1YR HW SVC WITH IN-HOME/OS SVC, AFTER REM DIAG...  7.642556e+07
4308   1YR HW SVC WITH IN-HOME/OS SVC, AFTER REM DIAG...  7.433046e+07

### Question 3: Which is the product where you have seen a decrease in the price?

For this we'll follow the below steps: <br>

1. sort dataframe wrt date <br>
2. add a column named price_diff, where price would be differenced with period 1 (replace NaN by 0) <br>
3. The above values represent difference in price from previous day <br>
4. Now group data wrt to description, and add these differenced values for same products <br>
5. The above values represent overall (total) price difference in a product in 10 days. For instance, if price is 
increased by 2.00 on Day 5 and then decreased by 2.00 on Day 8 , then these values will tell that there's
no change in price. <br>
6. If values are <0 , then price has decreased. If value=0, price remained same else price has increased.

In [25]:
instock_df = instock_df.sort_values("sku_create_date")
instock_df['price_diff'] = instock_df.groupby('description')['price'].diff().fillna(0)
instock_df.head(10)

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,Revenue,price_diff
253,9920,CASE LOGIC-PERSONAL & PORTABLE,3200943,BA6371,"LAPTOP ROLLING CASE BLACK, SECURITY FRIENDLY 17IN",In Stock,7,99.00,2020-08-17,693.00,0.00
591726,9920,BATTERY TECHNOLOGY INC.,312-0910-BTI,3AX653,"LI-ION 9 CELL 11.1V BATTERY FOR, DELL LATI E64...",In Stock,3,82.79,2020-08-17,248.37,0.00
591725,9920,BATTERY TECHNOLOGY INC.,312-0910-BTI,3AX653,"LI-ION 9 CELL 11.1V BATTERY FOR, DELL LATI E64...",In Stock,3,85.91,2020-08-17,257.73,3.12
591696,9920,BATTERY TECHNOLOGY INC.,HP-DV4,3AX651,"LI-ION 6 CELL 10.8V BATTERY FOR, HP G50-100 CT...",In Stock,18,53.07,2020-08-17,955.26,0.00
591695,9920,BATTERY TECHNOLOGY INC.,HP-DV4,3AX651,"LI-ION 6 CELL 10.8V BATTERY FOR, HP G50-100 CT...",In Stock,18,55.07,2020-08-17,991.26,2.00
591666,9920,BATTERY TECHNOLOGY INC.,A1331-BTI,3AX649,"LI-POLY 3CELL 10.9V BATTERY FOR, APPLE MBK 13 ...",In Stock,6,58.37,2020-08-17,350.22,0.00
591665,9920,BATTERY TECHNOLOGY INC.,A1331-BTI,3AX649,"LI-POLY 3CELL 10.9V BATTERY FOR, APPLE MBK 13 ...",In Stock,6,60.57,2020-08-17,363.42,2.20
591606,9920,BATTERY TECHNOLOGY INC.,HP-ENVY17J,3AX645,"LI-ION 6 CELL 10.8V BATTERY FOR, HP ENVY 17-J ...",In Stock,2,74.30,2020-08-17,148.60,0.00
591605,9920,BATTERY TECHNOLOGY INC.,HP-ENVY17J,3AX645,"LI-ION 6 CELL 10.8V BATTERY FOR, HP ENVY 17-J ...",In Stock,2,77.10,2020-08-17,154.20,2.80
591561,9920,BATTERY TECHNOLOGY INC.,482962-001-BTI,3AX642,"LI-ION 6 CELL 10.8V BATTERY FOR, HP 6530B ELIT...",In Stock,1,59.43,2020-08-17,59.43,0.00

In [26]:
print("Top 10 products that show maximum decrease in price (Period=1)")
instock_df.sort_values('price_diff').head(10)

Top 10 products that show maximum decrease in price (Period=1)

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,Revenue,price_diff
1758698,573,FLUKE NETWORKS CORE,OFP2-100-QI,2KL843,"OPTIFIBER PRO QUAD OTDR V2 W/, INSPECTION & WIFI",In Stock,1,12158.37,2020-08-24,12158.37,-4840.75
2502764,1221,DELL ESG WARRANTIES,823-7910,7GZ794,"3YR NBD TO 5YR PROSPT 4H,",In Stock,9999,2477.25,2020-08-26,24770022.75,-1759.05
2450779,1221,DELL ESG WARRANTIES,818-6440,3DB693,"5YR PROSUPPORT PLUS,",In Stock,9999,2341.77,2020-08-26,23415358.23,-1456.91
2616744,5,TOPSELLER LENOVO DCG BTO SERVER,7Y51A04QNA,6KM127,"THINKSYSTEM SR250 E-2136 3.3G, 12MB 8GB",In Stock,4,1450.89,2020-08-28,5803.56,-1431.46
1197961,5,TOPSELLER LENOVO DCG BTO SERVER,7Y51A04QNA,6KM127,"THINKSYSTEM SR250 E-2136 3.3G, 12MB 8GB",In Stock,4,1450.89,2020-08-20,5803.56,-1431.46
1890624,1221,DELL CSG SERVICE WARRANTIES,818-6435,3DB688,"3YR PROSUPPORT MISSION CRITICAL,",In Stock,19998,868.25,2020-08-24,17363263.50,-1394.07
2605257,2150,AMD SERVER BOX,PS7551BDAFWOF,2KQ135,"EPYC MODEL 7551 32C 3.0G 64MB, 180W 2666MHZ",In Stock,2,1410.71,2020-08-28,2821.42,-1212.20
2450772,1221,DELL ESG WARRANTIES,818-6433,3DB686,"3YR PROSUPPORT MISSION CRITICAL,",In Stock,19998,1142.03,2020-08-26,22838315.94,-1120.29
1890635,1221,DELL ESG WARRANTIES,818-6446,3DB699,"5YR PROSUPPORT PLUS,",In Stock,9999,2804.29,2020-08-24,28040095.71,-996.43
625984,1221,DELL ESG WARRANTIES,818-6446,3DB699,"5YR PROSUPPORT PLUS,",In Stock,9999,2804.29,2020-08-17,28040095.71,-996.43

In [27]:
change_df = instock_df.groupby('description',as_index=False)['price_diff'].sum().sort_values(by='price_diff',ascending=False)

In [28]:
decrease = change_df[change_df['price_diff']<0]

In [29]:
print("Top 10 Products (L to H) on which reduction of price was maximum (Total): ")
decrease.tail(10)

Top 10 Products (L to H) on which reduction of price was maximum (Total):

                                             description  price_diff
17960             FF 5940 48SFP+ 6QSFP+ SWITCH PS, PL-NT     -352.45
15824  CONNECTX 6 VPI ADAPT CARD, H200GB/S HDR200 EDR...     -479.65
27993  TT PRNT ZT620 6IN 300DPI US, CORD SER USB GB E...     -547.03
26654  SURFACE LAPTOP I7 512GB W/10PRO, OPEN BOX SEE ...     -553.74
27980  TT PRINTER ZT410 4IN 203 DPI US, EOL LBD 7-1-2020     -619.51
27647  TOPSELLER TP P53 I7-9850H 2.6G, 16GB 512GB SSD...     -685.99
17610        EPYC MODEL 7551 32C 3.0G 64MB, 180W 2666MHZ    -1212.20
27263            THINKSYSTEM SR250 E-2136 3.3G, 12MB 8GB    -1431.46
10637                               5YR PROSUPPORT PLUS,    -1458.95
22458   OPTIFIBER PRO QUAD OTDR V2 W/, INSPECTION & WIFI    -4840.75

### Question 4: Which is the product where you have seen a increase in the price?

In [30]:
print("Top 10 products that show maximum increase in price (Period=1)")
instock_df.sort_values('price_diff',ascending=False).head(10)

Top 10 products that show maximum increase in price (Period=1)

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,Revenue,price_diff
1890636,1221,DELL CSG SERVICE WARRANTIES,818-6447,3DB700,"5YR PROSUPPORT PLUS,",In Stock,9999,3800.72,2020-08-24,38003399.28,2015.47
2264912,5,TOPSELLER LENOVO DCG BTO SERVER,7Y51A04KNA,6KM122,"THINKSYSTEM SR250 E-2136 3.3G, 12MB 8GB",In Stock,5,2882.35,2020-08-24,14411.75,1431.46
1890645,1221,DELL CSG SERVICE WARRANTIES,817-5324,3DB709,"3YR PROSUPPORT MISSION CRITICAL,",In Stock,9999,2262.32,2020-08-24,22620937.68,1357.33
2450795,1221,DELL CSG SERVICE WARRANTIES,817-5324,3DB709,"3YR PROSUPPORT MISSION CRITICAL,",In Stock,9999,2261.12,2020-08-26,22608938.88,1356.62
1890633,1221,DELL CSG SERVICE WARRANTIES,818-6444,3DB697,"3YR PROSUPPORT PLUS,",In Stock,9999,2375.33,2020-08-24,23750924.67,1259.47
628430,1221,DELL ESG WARRANTIES,822-4650,3DY398,"3YR BASIC ONSITE TO 5YR PROSUPT,",In Stock,9999,1984.58,2020-08-17,19843815.42,1234.69
625994,1221,DELL CSG SERVICE WARRANTIES,817-5324,3DB709,"3YR PROSUPPORT MISSION CRITICAL,",In Stock,9999,2262.32,2020-08-17,22620937.68,1195.33
2502762,1221,DELL ESG WARRANTIES,823-7912,7GZ792,"3YR NBD TO 5YR PROSPT 4H,",In Stock,9999,4236.30,2020-08-26,42358763.70,1125.29
2450784,1221,DELL ESG WARRANTIES,818-6445,3DB698,"5YR PROSUPPORT PLUS,",In Stock,9999,2600.54,2020-08-26,26002799.46,986.93
1892991,1221,DELL ESG WARRANTIES,822-4650,3DY398,"3YR BASIC ONSITE TO 5YR PROSUPT,",In Stock,9999,1984.58,2020-08-24,19843815.42,943.30

In [31]:
increase = change_df[change_df['price_diff']>0]

In [32]:
print("Top 10 Products on which increase in price was maximum (Total): ")
increase.head(10)

Top 10 Products on which increase in price was maximum (Total):

                                             description  price_diff
8380                    3YR PROSUPPORT MISSION CRITICAL,     1356.13
8308                    3YR BASIC ONSITE TO 5YR PROSUPT,     1090.84
4786   20PK 14000GB ULTRA SAS 3.5IN, 26.1MM 512MB 720...      880.00
4787   20PK 14000GB ULTRA SAS 7200RPM, 3.5IN 26.1MM 5...      880.00
8346                           3YR NBD TO 5YR PROSPT 4H,      650.46
4777   20PK 12TB 256MB SATA UTLRA, 3.5IN 7200RPM 512 ...      520.00
4784   20PK 12TB SATA 7200 RPM 256MB, 3.5IN 26.1MM UL...      520.00
4783   20PK 12TB SATA 7200 RPM 256MB, 3.5IN 26.1MM UL...      520.00
12651                  800GB SAS WI SFF SC DS SSD, PL-SI      468.00
25922  SMART BUY ZBOOK 17 G6 I7-9850H, 2.6G 16GB 512G...      450.45

### Question 5: Which is the top category by price and quantity?

In [33]:
x = instock_df.sort_values('price',ascending = False).reset_index()

In [34]:
var = x['category'][0]

In [35]:
print(f' The Top Category by price is {var}')

 The Top Category by price is 521

In [36]:
var = instock_df.sort_values('qty',ascending = False).reset_index()['category'][0] 
print(f' The Top Category by quantity is {var}')

 The Top Category by quantity is 1221

### 6. Which products are aging? 
Product aging refers to the storage duration of an item. The main purpose is to find out which items stay in inventory for a long time or are perhaps becoming obsolete.

In [38]:
instock_df = instock_df.drop(columns=['Revenue','price_diff'])

In [39]:
products = list(set(instock_df['description']))
age_df = pd.DataFrame(columns=['Product','Age'])

In [40]:
for i in products:
    details = instock_df[instock_df['description'] == i]
    date1 = details.sku_create_date.min()
    date2 = details.sku_create_date.max()
    age = (date2-date1).days
    age_df = age_df.append({'Product': i,'Age': age},ignore_index = True)

#### If product is in SKU for more than 7 days, we can say that it's aging.

In [41]:
age_df = age_df.sort_values(by='Age',ascending= False)
aging_products = age_df[age_df['Age']>7]
per_cent = (len(aging_products)/len(age_df))*100
print(f'Percentage of products aging is {per_cent}')

Percentage of products aging is 42.99077647674495

In [42]:
aging_products.head(10)

                                                 Product Age
17646     LIGHTNING TO USB WHITE 1 METER, CABLE - 5 PACK  11
5339          USB 3.1 TYPE C TO TYPE A, CABLE 1 METERM/M  11
5360   OFFICE HOME AND BUSINESS 2019, ONLY DWNLD** NO...  11
20958  KIT ACC ZQ610/620 HEALTHCARE, SPARE SMART BATTERY  11
5358                       SMART BUY 8GB DDR4-2666 DIMM,  11
5357   6OUT SURGE PROTECTOR 2100 J, BLACK 6FT CORD 2 ...  11
26671                              MAXELL DVD+RW, 5 PACK  11
5352   K830 ILLUMATED LIVINGROOM KEYB, UPDATED REFRES...  11
5349   10.1IN TAB A 32GB SILVER, WI-FI / SERIES A / 1...  11
26677  16GB 2X8GB 3200MHZ DRAM DDR4, C16 VENGEANCE LP...  11

### Question 7: How to Decrease Product aging? 

To decrease product aging, <br>

1. Liquidate Inventory <br>
2. Sales/Offers <br>
3. Donation (Can help in CSR activities and saving taxes) <br>
4. Give out aged products for free as promotional offer and increase your customer reach

# <center> ANALYSIS FOR OUT OF STOCK </center>

In [43]:
outstock_df.head()

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,Revenue
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17,0.0
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17,0.0
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17,0.0
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17,0.0
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17,0.0

### Question 1: Which are the top Manufacturers with price, quantity?
Assuming top manufacturers are the ones which produce highest quantities of a product. <br> <br>
The Top 10 manufacturers based on quantity produced for out of stock products are :

In [44]:
outstock_df[outstock_df['qty']>0]

Empty DataFrame
Columns: [category, manufacturer, part_number, sku, description, status, qty, price, sku_create_date, Revenue]
Index: []

In [45]:
print("The Top 10 manufacturers based on price for out of stock products are :")
outstock_df.groupby(['manufacturer'],as_index=False)['price'].max().sort_values('price',ascending=False).head(10)

The Top 10 manufacturers based on price for out of stock products are :

                         manufacturer        price
57                             ALTNET  84974533.10
717              JUNIPER ROW SERVICES  10449000.00
709        JUNIPER ENTERPRISE ROUTING   5600000.00
231            CISCO - CCW MULTI YEAR   4700430.00
590       HPE - ENTERPRISE NETWORKING   4173518.27
636                     IGEL SOFTWARE   3609856.25
779         LENOVO DCG SERVER OPTIONS   3552553.59
1111  SECURE CHANNELS INC DIRECT SHIP   2447266.55
980                      PLANAR DVLED   1939032.30
596              HPE - SERVER OPTIONS   1627920.00

### Question 2: Which are the most profitable products? 
For out of stock products, qty = 0 , so revenue = 0 <br>

Since, profitable products are the ones that have large margin, so we can assume that profitable products will the ones have maximum price.

In [46]:
qo2 = outstock_df.groupby('description',as_index=False)['price'].max().sort_values(by='price', ascending=False)
qo2.head(10)

                                              description        price
129283  ALTNET TPM UP TO 240000000 USD, LIST MNT UPTO ...  84974533.10
129756  ALTNET TPM UP TO 80000000 USD, LIST MNT UPTO 8...  28324844.37
251188                  ROW 5YR SWA SUP FOR, JCE-1000GBPS  10449000.00
251184                  ROW 3YR SWA SUP FOR, JCE-1000GBPS   6966000.00
8598                 1000 UNIT BNDL OF, QSFP-100GBASE-LR4   5600000.00
154600  CCW ONLY SWSS UPG 3YR DISTI, SO=INTELL AUTOCLD...   4700430.00
153776  CCW ONLY SWSS UPG 3YR DISTI SO=, CSC IA CLD 3....   4476600.00
89099            3YR RH ANS TWR+ENG SY 10000N, 24X7 E-LTU   4173518.27
154656  CCW ONLY SWSS UPG 3YR DISTI, TR-069 MGMT FOR 6...   3837086.35
312235      WORKSPACE ED LICS ELA W/, 1YR MNT 100000 LICS   3609856.25

### Question 3: Which is the product where you have seen a decrease in the price?

Steps followed here are same as that in instock_df.

In [47]:
outstock_df = outstock_df.sort_values("sku_create_date")
outstock_df['price_diff'] = outstock_df.groupby('description')['price'].diff().fillna(0)
outstock_df.head(10)

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,Revenue,price_diff
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17,0.0,0.00
667924,9920,KENSINGTON TECHNOLOGY GROUP,K67951US,3V1652,"CUSTOM WINDFALL FRAME IPAD, FOR IPAD AIR AIR 2...",No Stock,0,93.03,2020-08-17,0.0,0.00
667919,9920,KENSINGTON TECHNOLOGY GROUP,K67951US,3V1652,"CUSTOM WINDFALL FRAME IPAD, FOR IPAD AIR AIR 2...",No Stock,0,92.11,2020-08-17,0.0,-0.92
667918,9920,KENSINGTON TECHNOLOGY GROUP,K67951US,3V1652,"CUSTOM WINDFALL FRAME IPAD, FOR IPAD AIR AIR 2...",No Stock,0,94.85,2020-08-17,0.0,2.74
667910,9920,KENSINGTON TECHNOLOGY GROUP,K67949US,3V1651,"WINDFALL CONF ROOMS IPAD MINI, SUPPORTS ALL IP...",No Stock,0,101.23,2020-08-17,0.0,0.00
667905,9920,KENSINGTON TECHNOLOGY GROUP,K67949US,3V1651,"WINDFALL CONF ROOMS IPAD MINI, SUPPORTS ALL IP...",No Stock,0,100.23,2020-08-17,0.0,-1.00
667904,9920,KENSINGTON TECHNOLOGY GROUP,K67949US,3V1651,"WINDFALL CONF ROOMS IPAD MINI, SUPPORTS ALL IP...",No Stock,0,103.22,2020-08-17,0.0,2.99
667868,9920,KENSINGTON TECHNOLOGY GROUP,K67945US,3V1647,"WINDFALL FRAME SURFACE PRO 3/4,",No Stock,0,101.23,2020-08-17,0.0,0.00
667863,9920,KENSINGTON TECHNOLOGY GROUP,K67945US,3V1647,"WINDFALL FRAME SURFACE PRO 3/4,",No Stock,0,100.23,2020-08-17,0.0,-1.00
667862,9920,KENSINGTON TECHNOLOGY GROUP,K67945US,3V1647,"WINDFALL FRAME SURFACE PRO 3/4,",No Stock,0,103.22,2020-08-17,0.0,2.99

In [48]:
print("Top 10 products that show maximum decrease in price (Period=1)")
outstock_df.sort_values('price_diff').head(10)

Top 10 products that show maximum decrease in price (Period=1)

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,Revenue,price_diff
1653733,1221,CISCO - CCW MULTI YEAR,CON-3ECMU-LTCAEES3,ZA6701,"CCW ONLY SWSS UPG 3YR DISTI SO=, CSC IA CLD 3....",No Stock,0,909750.00,2020-08-24,0.0,-3566850.00
2348891,1221,CISCO - CCW MULTI YEAR,CON-3ECMU-LTCAEES3,ZA6701,"CCW ONLY SWSS UPG 3YR DISTI SO=, CSC IA CLD 3....",No Stock,0,909750.00,2020-08-25,0.0,-2729250.00
2348851,1221,CISCO - CCW MULTI YEAR,CON-3ECMU-LPHOME6M,ZA6661,"CCW ONLY SWSS UPG 3YR DISTI, TR-069 MGMT FOR 6...",No Stock,0,1679538.60,2020-08-25,0.0,-2157547.75
2068605,1211,PLANAR DVLED,106621 INSTALL,5NU738,"DIRECTLIGHT 24X6, DL2 0.9 ROOM 250",No Stock,0,54649.05,2020-08-24,0.0,-1884383.25
1653603,1221,CISCO - CCW MULTI YEAR,CON-3ECMU-LNCPS3UK,ZA6636,"CCW ONLY SWSS UPG 3YR DISTI SO=, CLOUD PORTAL",No Stock,0,454875.00,2020-08-24,0.0,-1783425.00
388521,1221,CISCO - CCW MULTI YEAR,CON-3ECMU-LNCPS3UK,ZA6636,"CCW ONLY SWSS UPG 3YR DISTI SO=, CLOUD PORTAL",No Stock,0,454875.00,2020-08-17,0.0,-1783425.00
2348826,1221,CISCO - CCW MULTI YEAR,CON-3ECMU-LNCPS3UK,ZA6636,"CCW ONLY SWSS UPG 3YR DISTI SO=, CLOUD PORTAL",No Stock,0,454875.00,2020-08-25,0.0,-1364625.00
426242,1231,SECURE CHANNELS INC DIRECT SHIP,SCSVCSMNGEDSEC500ENT,1F6035,"SCI MANAGED SVCS ENTERPRISE, SECURITY MONITORI...",No Stock,0,1376587.43,2020-08-17,0.0,-1070679.12
388570,1221,CISCO - CCW MULTI YEAR,CON-3ECMU-LPHOME6M,ZA6661,"CCW ONLY SWSS UPG 3YR DISTI, TR-069 MGMT FOR 6...",No Stock,0,2066123.25,2020-08-17,0.0,-1053020.13
1777042,1241,VMWARE - FEDERAL,MCS-PLUS-3SUP-F,2NP781,"FED MC + ADDL MCS COVERAGE ALA, WRKSPCE1 PRODU...",No Stock,0,490386.81,2020-08-24,0.0,-980773.60

In [49]:
change_df = outstock_df.groupby('description',as_index=False)['price_diff'].sum().sort_values(by='price_diff',ascending=False)

In [50]:
decrease = change_df[change_df['price_diff']<0]

In [51]:
print("Top 10 Products (L to H) on which reduction of price was maximum (Total): ")
decrease.tail(10)

Top 10 Products (L to H) on which reduction of price was maximum (Total):

                                              description  price_diff
153776  CCW ONLY SWSS UPG 3YR DISTI SO=, CSC IA CLD 3....  -418800.00
154265  CCW ONLY SWSS UPG 3YR DISTI, PRIME COLLAB-B AS...  -462473.23
238260     QUANTITY 150 OF EL4Q 387GB SFF, 2 4K SSD LINUX  -468467.99
154276  CCW ONLY SWSS UPG 3YR DISTI, PRIME COLLAB-B PR...  -483910.58
238292          QUANTITY 150 OF ES7E 775GB SFF, 2 SSD 5XX  -628213.02
154656  CCW ONLY SWSS UPG 3YR DISTI, TR-069 MGMT FOR 6...  -717942.97
130147                           ANNESE ONLY 2018-380048,  -722188.74
238325                QUANTITY 150 OF ESGP 1 55TB SAS, 4K  -780127.17
238261     QUANTITY 150 OF EL4S 775GB SFF, 2 4K SSD LINUX  -809504.34
200357  FED MC + ADDL MCS COVERAGE ALA, WRKSPCE1 PRODU...  -980773.60

### Question 4: Which is the product where you have seen a increase in the price?

In [52]:
print("Top 10 products that show maximum increase in price (Period=1)")
outstock_df.sort_values('price_diff',ascending=False).head(10)

Top 10 products that show maximum increase in price (Period=1)

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,Revenue,price_diff
388652,1221,CISCO - CCW MULTI YEAR,CON-3ECMU-LTCAEEX3,ZA6702,"CCW ONLY SWSS UPG 3YR DISTI SO=, CSC IA CLD 3....",No Stock,0,4476600.00,2020-08-17,0.0,3566850.00
426245,1231,SECURE CHANNELS INC DIRECT SHIP,SCSVCSMNGEDSEC1000EN,1F6038,"SCI MANAGED SVCS ENTERPRISE, SECURITY MONITORI...",No Stock,0,2447266.55,2020-08-17,0.0,2141358.23
1691227,1231,SECURE CHANNELS INC DIRECT SHIP,SCSVCSMNGEDSEC1000EN,1F6038,"SCI MANAGED SVCS ENTERPRISE, SECURITY MONITORI...",No Stock,0,2447266.55,2020-08-24,0.0,2141358.23
2068604,317,PLANAR DVLED,106621 NETWORK COMM,5NU737,"DIRECTLIGHT 24X6, DL2 0.9 ROOM 250",No Stock,0,1939032.30,2020-08-24,0.0,1884383.25
804208,317,PLANAR DVLED,106621 NETWORK COMM,5NU737,"DIRECTLIGHT 24X6, DL2 0.9 ROOM 250",No Stock,0,1939032.30,2020-08-17,0.0,1884383.25
2348850,1221,CISCO - CCW MULTI YEAR,CON-3ECMU-LPHOME6S,ZA6660,"CCW ONLY SWSS UPG 3YR DISTI, TR-069 MGMT FOR 6...",No Stock,0,3119143.38,2020-08-25,0.0,1439604.78
1691226,1231,SECURE CHANNELS INC DIRECT SHIP,SCSVCSMNGEDSEC1000PR,1F6037,"SCI MANAGED SVCS PROF SECURITY, MONITORING MNT...",No Stock,0,1631511.03,2020-08-24,0.0,1427572.15
426244,1231,SECURE CHANNELS INC DIRECT SHIP,SCSVCSMNGEDSEC1000PR,1F6037,"SCI MANAGED SVCS PROF SECURITY, MONITORING MNT...",No Stock,0,1631511.03,2020-08-17,0.0,1427572.15
2348892,1221,CISCO - CCW MULTI YEAR,CON-3ECMU-LTCAEEX3,ZA6702,"CCW ONLY SWSS UPG 3YR DISTI SO=, CSC IA CLD 3....",No Stock,0,3639000.00,2020-08-25,0.0,1400700.00
1653605,1221,CISCO - CCW MULTI YEAR,CON-3ECMU-LNCPX3UK,ZA6637,"CCW ONLY SWSS UPG 3YR DISTI SO=, CLOUD PORTAL",No Stock,0,1819500.00,2020-08-24,0.0,1259925.00

In [53]:
increase = change_df[change_df['price_diff']>0]

In [54]:
print("Top 10 Products on which increase in price was maximum (Total): ")
increase.head(10)

Top 10 Products on which increase in price was maximum (Total):

                                              description  price_diff
254151  SCI MANAGED SVCS ENTERPRISE, SECURITY MONITORI...  2141358.23
186527                 DIRECTLIGHT 24X6, DL2 0.9 ROOM 250  1884383.25
254152  SCI MANAGED SVCS PROF SECURITY, MONITORING MNT...  1427572.15
238283  QUANTITY 150 OF ES0S 775GB SFF, 2 4K SSD AIX L...   961685.68
254153  SCI MANAGED SVCS STD SECURITY, MONITORING MNT ...   713786.08
182769               CTO COMPELLENT WARRANTY, EXP 6/30/19   562697.08
238281  QUANTITY 150 OF ES0Q 387GB SFF, 2 4K SSD AIX L...   556572.19
152880  CCW ONLY SWSS UPG 3YR DISTI BAC, 500 000 SUBSC...   243813.00
154277  CCW ONLY SWSS UPG 3YR DISTI, PRIME COLLAB-B PR...   195981.99
235633                    PROFESSIONAL SVCS BACKUP CLOUD,   189063.80

### Question 5: Which is the top category by price and quantity?

In [55]:
x = outstock_df.sort_values('price',ascending = False).reset_index() 
var = x['category'][0]

In [56]:
print(f' The Top Category by price is {var}')

 The Top Category by price is 1231

Since, qty = 0 for all products in out of stock, top category by quantity can't be calculated.