In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("Actor.xlsx")
data

    Best Actress  Best Actor
0             27          43
1             29          35
2             30          39
3             63          44
4             30          52
5             34          47
6             46          63
7             29          48
8             64          37
9             21          55
10            45          44
11            56          33

In [3]:
data.shape

(12, 2)

## Mean : Measure of Central Tendency
## Standard Deviation : Measure of Dispersion

In [20]:
data.describe()

       Best Actress  Best Actor
count     12.000000   12.000000
mean      39.500000   45.000000
std       14.853833    8.717798
min       21.000000   33.000000
25%       29.000000   38.500000
50%       32.000000   44.000000
75%       48.500000   49.000000
max       64.000000   63.000000

## Median : Measure of Central Tendency

In [5]:
data.median()

Best Actress    32.0
Best Actor      44.0
dtype: float64

## Mode : Measure of Central Tendency

In [6]:
data.mode() # Best Actress is bimodal

   Best Actress  Best Actor
0            29        44.0
1            30         NaN

In [7]:
data["Best Actress"].value_counts()

29    2
30    2
27    1
63    1
34    1
46    1
64    1
21    1
45    1
56    1
Name: Best Actress, dtype: int64

In [8]:
data["Best Actor"].value_counts()

44    2
43    1
35    1
39    1
52    1
47    1
63    1
48    1
37    1
55    1
33    1
Name: Best Actor, dtype: int64

## Variance : Measure of Dispersion

In [10]:
data.var()

Best Actress    220.636364
Best Actor       76.000000
dtype: float64