# Loading Libraries

In [1]:
import pandas as pd
import scipy

# Getting Data

In [2]:
data = pd.read_excel("Project+1.xlsx")
data.head()

  Students Outcome
0     Rose    Pass
1    Penny    Pass
2     John    Pass
3   Stuart    Fail
4  Micheal    Pass

# Knowing Data

In [3]:
data.describe()

       Students Outcome
count       100     100
unique        5       2
top        Rose    Pass
freq         23      52

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Students  100 non-null    object
 1   Outcome   100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

In [5]:
data.nunique()

Students    5
Outcome     2
dtype: int64

# Making a  Contingency Table

In [6]:
table = pd.crosstab(data['Outcome'],data['Students'])
table

Students  John  Micheal  Penny  Rose  Stuart
Outcome
Fail         8        7     10    10      13
Pass         8       12      9    13      10

# Making Expected Frequency Table

In [7]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2
stat, p, dof, expected = chi2_contingency(table)
print(stat)
print(p)
print(dof)
print(expected)

1.9942205010854896
0.7368219602766379
4
[[ 7.68  9.12  9.12 11.04 11.04]
 [ 8.32  9.88  9.88 11.96 11.96]]

# Interpreting results using Chi sq Statistic

In [8]:
prob = 0.95
critical = chi2.ppf(prob, dof)
print(critical)
if abs(stat) >= critical:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

9.487729036781154
Independent (fail to reject H0)

# Interpreting results using p value of chi sq statistic

In [9]:
# interpret p-value
alpha = 1.0 - prob
if p <= alpha:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

Independent (fail to reject H0)